* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/src/assets/50+\ Best\ Dark\ Blue\ iPhone\ Wallpapers\ 2024\ \(Free\ 4k\ HD\ Download\).jpg');
  background-color: gray;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.header h1 {
  align-items: center;
  justify-content: center;
  text-align: center;
}